{{!-- Comment tag --}}

<h1>{{title}}</h1> {{!-- This can be changed --}}
{{!-- <h1>Hello There!</h1> // testing --}}
<p>Welcome to {{title}}</p>  {{!-- This content get render in the body hook provided by layout.hbs --}}
